body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: #002045;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0 0 5px 0;
  color: darkcyan;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  float: left;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-temperature.active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature.active:hover {
  text-decoration: none;
}

.col-2 {
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 30px;
}
.forecastIconElement {
  padding: 0;
}
.forecastDayElement {
  padding: 0;
  margin-bottom: 0;
  opacity: 0.5;
}
.forecastTempElement {
  color: darkcyan;
}

.units {
  vertical-align: top;
  font-weight: bold;
  line-height: 2;
  font-size: 20px;
}
.humidityPlacement {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
.windPlacement {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.col-3 {
  text-align: center;
}
.card-body {
  padding: 0 10px 20px 0;
  background: #f7e2e8;
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.card {
  margin-top: 20px;
}
.forecastDayElement {
  font-weight: bold;
  color: darkcyan;
}
#fahrenheit-link {
  text-decoration: none;
  cursor: default;
}
#celsius-link {
  text-decoration: none;
  cursor: default;
}
#temperature {
  color: #002045;
  font-size: 90px;
  font-family: Arial, Helvetica, sans-serif;
}
#weather-icon {
  text-align: center;
  padding: 0;
}
#icon {
  margin-top: 10px;
  width: 80px;
  height: 80px;
}
#humidity-icon {
  margin-top: 10px;
  width: 50px;
  height: 50px;
}
#wind-icon {
  margin-top: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
}
#windFull {
  font-size: 15px;
}
#humidityFull {
  text-align: center;
  font-size: 15px;
}
#background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
